div.serviceExpertSlider > div.splide {
    /* width: 100%; */
    /* height: 100%; */
    border-radius: 0px;
    overflow: hidden;
    padding: 0;
  }  

  div.serviceExpertSlider > div.splide > div.splide__track > ul.splide__list li.splide__slide {
    display: flex;
    align-items: center;
    /* justify-content: start; */
  }
  
  div.serviceExpertSlider > div.splide > ul.splide__pagination {
    bottom: 6px;
  }
  
  div.serviceExpertSlider > div.splide > ul.splide__pagination li > button.splide__pagination__page {
    width: 7px;
    height: 7px;
    margin: 0 3px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.401) !important;
    outline: none;
  }
  
  div.serviceExpertSlider > div.splide > ul.splide__pagination li > button.is-active {
    width: 15px;
    height: 7px;
    margin: 0 5px;
    border-radius: 25px;
    background-color: white !important;
    opacity: 1;
    outline: none;
  }

  div.serviceExpertSlider > div.splide > div.splide__arrows > button.splide__arrow {
    color: white !important;
    outline: none;
    border: none;
    width: 20px;
    height: 20px;
  }

  /* ____________________________serviceExpertSliderStrip_________________________________ */

  div.serviceExpertSliderStrip > div.splide {
    /* width: 100%; */
    /* height: 100%; */
    border-radius: 0px;
    overflow: hidden;
    padding: 0;
    /* background-color: brown; */
  }  

  div.serviceExpertSliderStrip > div.splide > div.splide__track {
    height: 60px;
  }

  div.serviceExpertSliderStrip > div.splide > div.splide__track > ul.splide__list li.splide__slide {
    display: flex;
    align-items: center;
    border-radius: 8px;
    height: 60px;
    /* justify-content: start; */
  }

  
  div.serviceExpertSliderStrip > div.splide > ul.splide__pagination {
    bottom: 6px;
    height: 100%;
  }
  
  div.serviceExpertSliderStrip > div.splide > ul.splide__pagination li > button.splide__pagination__page {
    width: 7px;
    height: 7px;
    margin: 0 3px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.401) !important;
    outline: none;
  }
  
  div.serviceExpertSliderStrip > div.splide > ul.splide__pagination li > button.is-active {
    width: 15px;
    height: 7px;
    margin: 0 5px;
    border-radius: 25px;
    background-color: white !important;
    opacity: 1;
    outline: none;
  }
  